
<div class="page-header">
  <div class="row">
      <div class="col-sm-12">
          <h3 class="page-title">List of Patients</h3>
          <ul class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item"><a routerLink="/admin/patients">Patients</a></li>
              <li class="breadcrumb-item active">List</li>
          </ul>
      </div>
  </div>
</div>

      
         
          
          <div class="tab-content">
          
              <!-- Upcoming Appointment Tab -->
              <div class="tab-pane show active" id="upcoming-appointments">
                  <div class="card card-table mb-0">
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table table-hover table-center mb-0">
                                  <thead>
                                      <tr>
                                          <th>Patient Name</th>
                                          <th>Email</th>
                                          <th>Date of Birth</th>
                                          <th>Phone</th>
                                          <th>Action</th>
                                          <th></th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor = "let patient of patients | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                                          <td>
                                              <h2 class="table-avatar">
                                                  <!-- <a href="patient-profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="../../../../assets/img/patients/patient.jpg" alt="User Image"></a> -->
                                                  {{ patient.firstName }} {{ patient.lastName }}
                                              </h2>
                                          </td>
                                          <td>{{ patient.email }}</td>
                                          <td>{{ patient.dob }}</td>
                                          <td>{{ patient.phoneNumber }}</td>
                                          
                                          
                                          <td >
                                              <div class="table-action">
                                                  <a (click)="openDetails(contentDetails, patient)"  class="btn btn-sm bg-info-light">
                                                      <i class="far fa-eye"></i> View
                                                  </a>
                                              </div>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>		
                          </div>
                      </div>
                      <div class="mt-8 py-5 d-flex justify-content-center align-items-center">
                        <pagination-controls (pageChange)="p = $event">
            
                        </pagination-controls>
            
                    </div>
                  </div>
              </div>

             
              
          </div>

          <ng-template #contentDetails let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title"> View Patient </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="card success-card" >
                      <div class="card-body">
                          <div class="success-cont " >
                              <h3 style="color: #0a76d8;"><strong>Patient Details</strong></h3>
          
          
                              <p class="card-text"><b>Name</b> : {{selectedPatient.firstName}} {{selectedPatient.lastName}}</p>
          
                              <p class="card-text"><b>D.O.B : </b>{{selectedPatient.dob}}</p>
          
                              <p class="card-text"><b>Gender</b> : {{selectedPatient.gender}}</p>
          
                              <p class="card-text"><b>Email</b> : {{selectedPatient.email}}</p>
                           
                              <p class="card-text"><b>Phone Number</b> : {{selectedPatient.phoneNumber}}</p>
          
          
                              
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
              </div>
            </ng-template>
