<div class="main-wrapper">

    <app-admined-header></app-admined-header>
    

    <!--BreadCrumbs-->


<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                
                <!-- Profile Sidebar -->
            
               
                <app-admined-sidebar></app-admined-sidebar>
                
                <!-- /Profile Sidebar -->
                
            </div>
            
            <div class="col-md-7 col-lg-8 col-xl-9">

                <router-outlet></router-outlet>	

            </div>
        </div>

    </div>

</div>	
</div>