

<div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
        <div class="profile-info-widget">
            <a href="#" class="booking-doc-img">
                <img src="./../../../../assets/img/Avatar/7309685.jpg" alt="User Image">
            </a>
            <div class="profile-det-info">
                <h3>Admin</h3>
                
                <div class="patient-details">
                    <h5 class="mb-0"></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-widget">
        <nav class="dashboard-menu">
            <ul>
                <li class="active">
                    <a  routerLink="/admin/dashboard">
                        <i class="fas fa-columns"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/admin/doctor">
                        <i class="fas fa-file-invoice"></i>
                        <span>Doctors</span>
                    </a>
                </li>

                <li>
                    <a  routerLink="/admin/schedule">
                        <i class="fas fa-hourglass-start"></i>
                        <span>Schedule Timings</span>
                    </a>
                </li>
               

                <li>
                    <a routerLink="/admin/appointment">
                        <i class="fas fa-calendar-check"></i>
                        <span>Appointments</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/patient">
                        <i class="fas fa-user-injured"></i>
                        <span>My Patients</span>
                    </a>
                </li>
               
               
            </ul>
        </nav>
    </div>
</div>


<!-- <div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"> 
                    <span>Main</span>
                </li>
                <li class="active"> 
                    <a routerLink="/admin/dashboard"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                </li>
                <li> 
                    <a routerLink="/admin/doctor"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
                </li>
                <li> 
                    <a routerLink="/admin/patient"><i class="fe fe-user"></i> <span>Patients</span></a>
                </li>
                <li> 
                    <a routerLink="/admin/schedule"><i class="fe fe-vector"></i> <span>Schedule</span></a>
                </li>
                
                                
             
            </ul>
        </div>
    </div>
</div> -->