@import url('/src//assets/admin/css/bootstrap.min.css');
@import url('/src//assets/admin/css/feathericon.min.css');
@import url('/src//assets/admin/css/font-awesome.min.css');

@import url('/src//assets/admin/css/select2.min.css');

@import url('/src//assets/admin/css/style.css');